html,
body{
	height:100%;
	margin:0;
	padding:0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}
body{
	padding-top:30px;
	overflow:hidden;
}
body>header-nav{
	margin-top:-30px;
	height:30px;
}
body>side-nav{
	float:left;
	height: 100%;
}
body>.contents{
	margin-left:15em;
	transition: margin-left 250ms;
	padding:1em;
	height: 100%;
	overflow: auto;
}
body>.contents.wide{
	margin-left:3em;
}

body>.contents>h1{
	margin:0;
}